---
language: go

go:
  - 1.4
  - tip

before_install:
  - go get -u github.com/axw/gocov/gocov
  - go get -u github.com/mattn/goveralls
  - go get golang.org/x/tools/cmd/cover

script:
  - ./.test-cover.sh
